<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/index.css}" rel="stylesheet">
    <title>계산기</title>
</head>
<body>
    <!-- result -->
    <div id="result"> </div>
    <div id="keyPad">
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
    </div>
</body>
</html>