<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/index.css}" type="text/css" rel="stylesheet">
    <title>계산기</title>
</head>
<body>
    <!-- result -->
    <div id="main">
        <div id="header">
            <span id="title">계산기</span>
            <span id="c">C</span>
        </div>
        <div id="window">0</div>
        <div id="keyPad">
            <div class="box"><span>7</span></div>
            <div class="box"><span>8</span></div>
            <div class="box"><span>9</span></div>
            <div class="box"><span>4</span></div>
            <div class="box"><span>5</span></div>
            <div class="box"><span>6</span></div>
            <div class="box"><span>1</span></div>
            <div class="box"><span>2</span></div>
            <div class="box"><span>3</span></div>
        </div>
            <div class="box"><span>0</span></div>
            <div id="result"><span>=</span></div>
    </div>
</body>
</html>